<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Elixir • TodoMVC</title>
    <link rel="stylesheet" href="/static/assets/app.css">
  </head>
  <body>
    <%= @inner %>
    <script type="text/javascript" src="/static/assets/app.js"></script>
  </body>
</html>
